.sidebar {
    flex: 1;
    border-right: 0.5px solid rgb(230, 227, 227);
    min-width: 250px;
    // height: 100vh;

    .sidebar-top {
        // background-color: bisque;
        height: 50px;
        padding: 0 20px;
        display: flex;
        align-items: center;

        .logo {
            font-size: 20px;
            font-weight: bold;
            color: #6439ff;
        }

        .icon  {
            font-size: 20px;
            margin-right: 10px;
            cursor: pointer;
        }
    }

    .sidebar-center {
        padding-left: 10px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .title {
                font-size: 10px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                
                &:hover{
                    background-color: #e4e8ff;
                }

                .icon {
                    font-size: 18px;
                    color: #7451f8;
                }

                span{
                    font-size: 13px;
                    font-weight: 600;
                    color: #888;
                    margin-left: 10px;
                }
            }
        }
    }

    hr {
        height: 0;
        border: 0.5px solid rgb(230, 227, 227);
    }

    .sidebar-bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption {
            width: 20px;
            height: 20px;
            margin: 5px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            &:nth-child(1){
                background-color: whitesmoke;
            }
            &:nth-child(2){
                background-color: #333;
            }
            // &:nth-child(3){
            //     background-color: darkblue;
            // }
        }
    }
}

.hidden {
    display: none;
}